.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  font-family: 26023600000, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: underline;
}

.mega-nav-container-1 {
  z-index: 1;
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding: 20px 10vw;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.brand-logo {
  width: 100px;
  margin-right: auto;
}

.mega-nav-link {
  font-family: 26023600000, sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  padding: 18px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: color .2s;
  display: inline-block;
}

.mega-nav-link:hover {
  color: #ed1c24;
}

.nav-button-2 {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ed1c24;
  border-radius: 6px;
  margin-left: auto;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: 400;
  transition: border-color .2s, color .2s, background-color .2s;
}

.nav-button-2:hover {
  color: #fff;
  background-color: #ed1c24;
  border-color: #fff;
}

.f-button-secondary {
  min-height: 48px;
  color: #160042;
  letter-spacing: -.02em;
  background-color: #fff;
  border: 1px solid #e4e6f1;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: border-color .3s, background-color .3s;
  display: flex;
}

.f-button-secondary:hover {
  background-color: #f3f5fb;
  border-color: rgba(0, 0, 0, 0);
}

.f-button-neutral {
  min-height: 48px;
  color: #fff;
  text-align: center;
  letter-spacing: -.02em;
  background-color: #160042;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
}

.f-button-neutral:hover {
  background-color: #282556;
}

.f-header-button-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.f-paragraph-large {
  color: #fff;
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 1.5;
}

.f-paragraph-large.blue {
  color: #0caaff;
}

.f-margin-bottom-32 {
  margin-bottom: 32px;
}

.f-h1-heading {
  color: #160042;
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  line-height: 1.2;
}

.f-h1-heading.white {
  color: #fff;
}

.f-h1-heading.white.allcaps {
  text-align: left;
  text-transform: uppercase;
  font-size: 6.5rem;
  line-height: 1.1;
}

.f-margin-bottom-24 {
  margin-bottom: 24px;
}

.f-heading-detail-small {
  color: #6b7094;
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.f-heading-detail-small.red {
  color: #ed1c24;
}

.f-margin-bottom-08 {
  margin-bottom: 8px;
}

.f-image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.f-header-image-wrapper-tall {
  width: 100%;
  height: 630px;
  max-width: 500px;
  border-radius: 12px;
  overflow: hidden;
}

.f-header-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.f-container-regular {
  width: 100%;
  max-width: 1140px;
  justify-content: flex-start;
  margin-left: 14px;
  margin-right: 0;
  display: flex;
  position: relative;
}

.f-section-large {
  padding: 5% 5% 92px;
  position: relative;
}

.f-header-image-wrapper-wide {
  height: 400px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  display: flex;
  overflow: hidden;
}

.f-success-message {
  color: #006638;
  letter-spacing: -.03em;
  background-color: #ebfff6;
  font-size: 14px;
  line-height: 24px;
}

.f-header-input-field {
  min-height: 48px;
  color: #160042;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  margin-bottom: 0;
  margin-right: 16px;
  padding: 12px 16px;
}

.f-header-input-field::-ms-input-placeholder {
  color: #b6b9ce;
}

.f-header-input-field::placeholder {
  color: #b6b9ce;
}

.f-header-form-wrapper {
  background-color: #fff;
  border: 1px solid #e4e6f1;
  border-radius: 50px;
  align-items: center;
  padding: 4px;
  display: flex;
}

.f-header-form-block {
  max-width: 360px;
  margin-bottom: 0;
}

.f-margin-bottom-40 {
  text-align: left;
  margin-bottom: 40px;
}

.f-header-title-wrapper-center {
  z-index: 5;
  width: 100%;
  max-width: 630px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  position: relative;
}

.f-section-large-2 {
  height: 100vh;
  background-image: url('../images/641918f85d87ef1596fb826f_S3-Custom-Knife-Case-Packaging-.jpg');
  background-position: 50%;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10% 5% 92px 0%;
  display: flex;
  position: relative;
}

.f-paragraph-small {
  letter-spacing: -.01em;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.8;
}

.f-sub-heading-large {
  color: #160042;
  letter-spacing: -.02em;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.f-margin-bottom-41 {
  margin-bottom: 8px;
}

.f-feature-icon-wrapper {
  width: 100%;
  background-color: #f7f9fd;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  padding: 16px;
  display: flex;
}

.f-grid-four-columns {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.f-paragraph-large-2 {
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 32px;
}

.f-h3-heading {
  color: #160042;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 1.2;
}

.f-margin-bottom-16 {
  margin-bottom: 16px;
}

.f-heading-detail-small-2 {
  color: #6b7094;
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.f-title-wrapper-center {
  z-index: 5;
  width: 100%;
  max-width: 580px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.f-margin-bottom-128 {
  margin-bottom: 5%;
}

.f-container-regular-2 {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.f-section-large-3 {
  padding: 92px 5%;
  position: relative;
}

.f-button-neutral-2 {
  min-height: 48px;
  color: #000;
  text-align: center;
  letter-spacing: -.02em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ed1c24;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.f-button-neutral-2:hover {
  color: #fff;
  background-color: #ed1c24;
  border: 3px solid #ed1c24;
  border-radius: .5rem;
}

.f-text-area {
  min-height: 112px;
  color: #160042;
  border: 1px solid #e4e6f1;
  border-radius: 8px;
  margin-bottom: 0;
  padding: 16px;
  font-size: 14px;
  line-height: 24px;
}

.f-text-area:focus {
  border-color: #b6b9ce;
}

.f-text-area::-ms-input-placeholder {
  color: #6b7094;
}

.f-text-area::placeholder {
  color: #6b7094;
}

.f-field-label {
  color: #160042;
  letter-spacing: -.01em;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.f-margin-bottom-129 {
  margin-bottom: 16px;
}

.f-field-input {
  min-height: 48px;
  border: 1px solid #e4e6f1;
  border-radius: 8px;
  margin-bottom: 0;
  padding: 12px 16px;
  transition: all .2s;
}

.f-field-input:focus {
  border-color: #b6b9ce;
}

.f-field-input::-ms-input-placeholder {
  color: #6b7094;
}

.f-field-input::placeholder {
  color: #6b7094;
}

.f-contact-form {
  flex-direction: column;
  display: flex;
}

.f-paragraph-large-3 {
  font-family: 26023600000, sans-serif;
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

.f-h3-heading-2 {
  font-family: 26023600000, sans-serif;
  color: #000;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 2.5rem;
  line-height: 1.2;
}

.f-heading-detail-small-3 {
  color: #616161;
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.f-margin-bottom-130 {
  margin-bottom: 8px;
}

.f-title-wrapper-center-2 {
  z-index: 5;
  width: 100%;
  max-width: 580px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.f-margin-bottom-48 {
  margin-bottom: 48px;
}

.f-contact-content {
  width: 100%;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.f-section-large-4 {
  padding: 92px 3%;
  position: relative;
}

.f-image-cover-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 2px 7px 6px #d0d5dd;
}

.f-image-cover-2.custom {
  filter: hue-rotate(180deg);
  object-fit: contain;
  box-shadow: 0 2px 7px 6px #d0d5dd;
}

.f-content-image-wrapper {
  width: 100%;
  height: 575px;
  max-width: 600px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 7px 6px rgba(20, 20, 43, .06);
}

.f-button-secondary-2 {
  min-height: 48px;
  color: #160042;
  letter-spacing: -.02em;
  background-color: #fff;
  border: 3px solid #0066b3;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
}

.f-button-secondary-2:hover {
  color: #0066b3;
  background-color: rgba(0, 0, 0, 0);
}

.f-button-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

.f-button-wrapper.hide {
  display: none;
}

.f-margin-bottom-131 {
  margin-bottom: 32px;
}

.f-margin-bottom-12 {
  margin-bottom: 12px;
}

.f-grid-two-column {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.f-container-regular-3 {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.f-section-regular {
  padding: 72px 3%;
  position: relative;
}

.f-section-regular.grey {
  background-color: #e4e6f1;
}

.f-paragraph-regular {
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

.f-sub-heading-small {
  color: #0066b3;
  letter-spacing: -.03em;
  margin-top: .5rem;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.1;
}

.f-icon-regular {
  width: 24px;
  height: 24px;
  color: #000;
  justify-content: center;
  align-items: center;
  transition: color .2s;
  display: flex;
}

.f-content-icon-square {
  width: 40px;
  height: 40px;
  color: #160042;
  border-radius: 4px;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.f-content-list-item-large {
  grid-column-gap: 24px;
  align-items: flex-start;
  display: flex;
}

.f-content-list-wrapper-small {
  max-width: 500px;
  grid-row-gap: 48px;
  flex-direction: column;
  margin-bottom: 48px;
  display: flex;
}

.f-content-divider {
  width: 100%;
  height: 1px;
  background-color: #ed1c24;
  margin-top: 32px;
  margin-bottom: 32px;
}

.f-content-text-wrapper {
  max-width: 600px;
}

.f-content-image-tall {
  width: 100%;
  height: 800px;
  max-width: 600px;
  border-radius: 12px;
  overflow: hidden;
}

.hero-heading-center {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading.margin-bottom-32px {
  margin-bottom: 32px;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.uui-heroheader15_card-image-05 {
  z-index: 5;
  width: 35rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-image: linear-gradient(112deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 1.25rem;
  position: absolute;
  transform: translate(65%, 79%)rotate(150deg);
  box-shadow: 1px 1px 25px 12px rgba(0, 0, 0, .05);
}

.uui-heroheader15_card-image-04 {
  z-index: 4;
  width: 35rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-image: linear-gradient(112deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 1.25rem;
  position: absolute;
  transform: translate(38%, 33%)rotate(120deg);
  box-shadow: 1px 1px 25px 12px rgba(0, 0, 0, .05);
}

.uui-heroheader15_card-image-03 {
  z-index: 3;
  width: 35rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-image: linear-gradient(112deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 1.25rem;
  position: absolute;
  transform: translate(0, 16%)rotate(90deg);
  box-shadow: 1px 1px 25px 12px rgba(0, 0, 0, .05);
}

.uui-heroheader15_card-image-02 {
  z-index: 2;
  width: 35rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-image: linear-gradient(112deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 1.25rem;
  position: absolute;
  transform: translate(-38%, 33%)rotate(60deg);
  box-shadow: 1px 1px 25px 12px rgba(0, 0, 0, .05);
}

.uui-heroheader15_card-image-01 {
  z-index: 1;
  width: 35rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-image: linear-gradient(112deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 1.25rem;
  position: absolute;
  transform: translate(-65%, 79%)rotate(30deg);
  box-shadow: 1px 1px 25px 12px rgba(0, 0, 0, .05);
}

.uui-heroheader15_image-wrapper {
  width: 100%;
  height: 28rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  display: flex;
  position: relative;
}

.uui-button {
  grid-column-gap: .5rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #7f56d9;
  border: 1px solid #7f56d9;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button:hover {
  background-color: #6941c6;
  border-color: #6941c6;
}

.uui-button:focus {
  background-color: #7f56d9;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #f4ebff;
}

.uui-button.is-button-large {
  grid-column-gap: .75rem;
  padding: 1rem 1.75rem;
  font-size: 1.125rem;
}

.uui-button-icon {
  width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.uui-button-icon.is-icon-large {
  width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.uui-button-secondary-gray {
  grid-column-gap: .5rem;
  color: #344054;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button-secondary-gray:hover {
  color: #1d2939;
  background-color: #f9fafb;
}

.uui-button-secondary-gray:focus {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #f2f4f7;
}

.uui-button-secondary-gray.is-button-large {
  grid-column-gap: .75rem;
  padding: 1rem 1.75rem;
  font-size: 1.125rem;
}

.uui-button-row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-button-row.button-row-center {
  justify-content: center;
}

.uui-button-row.button-row-center.is-reverse-mobile-landscape {
  grid-column-gap: 3.5rem;
  grid-row-gap: 3.5rem;
  justify-content: center;
}

.uui-space-large {
  width: 100%;
  min-height: 2rem;
}

.uui-text-size-xlarge {
  color: #475467;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

.uui-text-size-xlarge.text-color-primary200 {
  color: #e9d7fe;
  margin-right: .5rem;
}

.uui-text-size-xlarge.margin-right {
  margin-right: .5rem;
}

.uui-text-size-xlarge.margin-right.text-color-white, .uui-text-size-xlarge.text-color-white {
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
}

.uui-max-width-large {
  max-width: 48rem;
}

.uui-max-width-large.align-center {
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.uui-space-small {
  width: 90%;
  min-height: 1.5rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-heading-xlarge {
  color: #101828;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.2;
}

.uui-heading-xlarge.text-color-white {
  color: #fff;
  font-size: 6.5rem;
}

.uui-heading-xlarge.text-color-white.allcaps {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 6.1rem;
  line-height: 1;
}

.uui-heroheader15_subheading {
  color: #ed1c24;
  margin-bottom: .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-heroheader15_subheading.allcaps {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
}

.uui-text-align-center {
  text-align: center;
}

.uui-heroheader15_component {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.uui-space-xhuge {
  width: 100%;
  min-height: 7rem;
}

.uui-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding {
  height: 100vh;
  padding-bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.uui-section_heroheader15 {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/T5000-Custom-Panel-Mount.jpg');
  background-position: 0 0, 50% 90%;
  background-size: auto, cover;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.div-block {
  width: 100%;
  height: .2rem;
  background-color: #ed1c24;
}

.image {
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

.button {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ed1c24;
  border-radius: .5rem;
  padding: 12px 30px;
}

.button:hover {
  background-color: #ed1c24;
  border-color: #fff;
  outline-color: #fff;
}

.button.blue {
  border-color: #0066b3;
  outline-color: #0066b3;
}

.button.blue:hover {
  background-color: #0066b3;
  border-color: #fff;
  outline-color: #fff;
}

.button-2 {
  outline-offset: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: .3rem;
  outline: 1px solid #0066b3;
}

.image-2 {
  width: 15rem;
  height: 12rem;
}

.brix---mg-bottom-0 {
  margin-bottom: 0;
}

.brix---color-neutral-600 {
  color: #6e7191;
}

.brix---paragraph-default {
  font-family: 26023600000, sans-serif;
  color: #616161;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
}

.brix---heading-h3-size {
  font-family: 30948500000, sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.brix---color-neutral-800 {
  color: #211f54;
}

.brix---mg-bottom-8px {
  margin-bottom: 8px;
}

.brix---card-left-text-wrapper {
  margin-left: 24px;
}

.brix---square-icon {
  border-radius: 16px;
}

.brix---card---icon-left---content-right {
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 24px;
  align-items: flex-start;
  padding: 48px;
  display: flex;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .06);
}

.brix---grid-2-columns {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.brix---heading-h2-size {
  font-family: 26023600000, sans-serif;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.brix---mg-bottom-12px {
  margin-bottom: 12px;
}

.brix---text-center {
  text-align: center;
}

.brix---inner-container-600px---center {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.brix---mg-bottom-48px {
  margin-bottom: 48px;
}

.brix---container-default {
  max-width: 1218px;
  padding-left: 24px;
  padding-right: 24px;
}

.brix---section {
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.brix---link-icon-right {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 6px;
}

.brix---text-200-bold {
  font-family: 30948500000, sans-serif;
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 20px;
}

.brix---color-accent-1 {
  color: #4a3aff;
}

.brix---link-wrapper {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.brix---mg-bottom-24px {
  margin-bottom: 24px;
}

.brix---content-inside-card {
  padding: 40px 28px 48px;
}

.brix---image-width-100 {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: 50% 90%;
}

.brix---image-wrapper---br-top {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  overflow: hidden;
}

.brix---card-link {
  color: #6e7191;
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 24px;
  text-decoration: none;
  box-shadow: 0 2px 7px 6px rgba(20, 20, 43, .06);
}

.brix---grid-3-columns {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.paragraph {
  font-family: 26023600000, sans-serif;
  color: #616161;
}

.icon-1 {
  max-height: 114px;
  max-width: 75%;
}

.div-block-3 {
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.certification-section {
  height: 85vh;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/S3-Cases-T2500-Panel-Case.webp');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  justify-content: center;
  margin-top: 0;
  padding-top: 8%;
  padding-bottom: 8%;
  display: flex;
}

.image-3 {
  max-height: 125px;
}

.button-1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ed1c24;
  border-radius: 4px;
  padding: 14px 28px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.button-1:hover {
  background-color: #ed1c24;
}

.columns-3 {
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  display: flex;
}

.mobile-only---learn-more-div {
  flex-direction: column;
  align-items: center;
  display: none;
}

.image-4 {
  max-height: 120px;
}

.paragraph-2 {
  font-family: 26023600000, sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 5%;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  display: block;
}

.learn-more-div-1 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.column-4 {
  flex-direction: column;
  align-items: center;
  margin-top: -16px;
  display: flex;
}

.image-5 {
  max-height: 125px;
}

.container-3 {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.heading-3 {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-top: -10px;
  font-size: 36px;
}

.heading-3.white {
  opacity: 1;
  font-family: 26023600000, sans-serif;
  color: #fff;
  line-height: 40px;
}

.divider-3 {
  width: 30%;
  height: 2px;
  background-color: #ed1c24;
  margin-top: 3%;
  margin-bottom: 3%;
}

.image-6 {
  width: 1rem;
}

.spacer {
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
}

.footer {
  width: auto;
  height: auto;
  background-color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-left: 110px;
  padding-right: 110px;
  display: flex;
  position: static;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.link-2 {
  width: 100%;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  font-size: 1px;
  line-height: 1px;
}

.link {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.column-19 {
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.columns-6 {
  align-items: center;
  display: flex;
}

.copyright {
  color: #fff;
  font-weight: 400;
  line-height: 18px;
}

.brand {
  width: 87px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-10 {
  border-radius: 2px;
}

.social-link-block {
  width: 24px;
  height: 24px;
  margin-left: 15px;
  margin-right: 15px;
}

.column-18 {
  justify-content: center;
  display: flex;
}

.column-18.terms {
  flex-direction: column;
}

.terms-div {
  align-items: center;
  margin-top: 2px;
  display: flex;
}

.column-28 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-button-1 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ed1c24;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 21px;
  padding-right: 21px;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.nav-button-1:hover {
  color: #fff;
  background-color: #ed1c24;
}

.nav-button-1.desktop-only {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #ed1c24;
  font-family: Montserrat, sans-serif;
}

.nav-button-1.desktop-only:hover {
  color: #fff;
  background-color: #ed1c24;
}

.paragraph-3 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 22px;
}

.column-15 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.column-13 {
  flex-direction: column;
  padding-right: 10px;
  display: flex;
}

.success-message {
  color: #fff;
  background-color: #000;
  font-weight: 700;
}

.column-20 {
  padding-left: 10px;
}

.button-2-on-light {
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ed1c24;
  border-radius: 4px;
  padding: 15px 29px;
  font-size: 12px;
  font-weight: 400;
}

.button-2-on-light:hover {
  color: #fff;
  background-color: #ed1c24;
}

.text-block-3 {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  object-fit: fill;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
}

.error-message {
  text-align: center;
}

.image-11 {
  max-width: 65%;
}

.image-12 {
  max-width: 45%;
}

.prefooter {
  width: auto;
  height: auto;
  min-height: 35vh;
  background-color: rgba(76, 76, 76, .1);
  border-bottom: 0 solid #000;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
}

.text-field {
  margin-bottom: 25px;
}

.text-field-2 {
  width: 90%;
  margin-bottom: 25px;
  margin-right: 10px;
}

.icon-columns {
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
  display: flex;
}

.field-label {
  color: #4c4c4c;
}

.hide {
  display: none;
}

.container-4 {
  justify-content: center;
  display: flex;
}

.text-block-4, .text-block-5 {
  font-family: 26023600000, sans-serif;
}

.body {
  font-family: Montserrat, sans-serif;
}

.mobile-only-nav {
  display: none;
}

@media screen and (max-width: 991px) {
  .f-header-image-wrapper-tall {
    height: 360px;
    max-width: none;
  }

  .f-header-grid {
    grid-template-columns: 1fr;
  }

  .f-grid-four-columns {
    grid-template-columns: 1fr 1fr;
  }

  .f-content-image-wrapper {
    max-width: 100%;
  }

  .f-grid-two-column {
    grid-template-columns: 1fr;
  }

  .f-content-list-wrapper-small {
    max-width: 100%;
    flex-direction: row;
  }

  .f-content-text-wrapper {
    max-width: 100%;
  }

  .f-content-image-tall {
    height: 400px;
    max-width: 100%;
  }

  .container {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .uui-heroheader15_card-image-05, .uui-heroheader15_card-image-04, .uui-heroheader15_card-image-03, .uui-heroheader15_card-image-02, .uui-heroheader15_card-image-01 {
    width: 32rem;
  }

  .uui-space-large {
    min-height: 2.5rem;
  }

  .uui-heading-xlarge {
    font-size: 3.25rem;
  }

  .uui-space-xhuge {
    min-height: 6rem;
  }

  .brix---heading-h3-size {
    font-size: 22px;
    line-height: 32px;
  }

  .brix---card-left-text-wrapper {
    margin-top: 24px;
    margin-left: 0;
  }

  .brix---card---icon-left---content-right {
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
  }

  .brix---heading-h2-size {
    font-size: 30px;
    line-height: 46px;
  }

  .brix---mg-bottom-48px {
    margin-bottom: 40px;
  }

  .brix---section {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  .brix---grid-3-columns {
    grid-template-columns: 1fr 1fr;
  }

  .nav-button-1.desktop-only {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .f-h1-heading {
    margin-top: 0;
    font-size: 48px;
  }

  .f-header-image-wrapper-tall {
    height: 400px;
  }

  .f-section-large, .f-section-large-2 {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .f-grid-four-columns {
    grid-template-columns: 1fr;
  }

  .f-h3-heading {
    font-size: 40px;
  }

  .f-section-large-3 {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .f-h3-heading-2 {
    font-size: 40px;
  }

  .f-section-large-4, .f-section-regular {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .hero-heading-center {
    padding: 60px 15px;
  }

  .uui-heroheader15_card-image-05, .uui-heroheader15_card-image-04, .uui-heroheader15_card-image-03, .uui-heroheader15_card-image-02, .uui-heroheader15_card-image-01 {
    width: 24rem;
    border-radius: .75rem;
  }

  .uui-heroheader15_image-wrapper {
    height: 22rem;
  }

  .uui-button {
    font-size: 1rem;
  }

  .uui-button:hover {
    background-color: #7f56d9;
    border-color: #7f56d9;
  }

  .uui-button.is-button-large {
    grid-column-gap: .5rem;
    padding: .75rem 1.25rem;
    font-size: 1rem;
  }

  .uui-button-wrapper.max-width-full-mobile-landscape {
    width: 100%;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .uui-button-icon.is-icon-large {
    width: 1.25rem;
    height: 1.25rem;
  }

  .uui-button-secondary-gray {
    padding-left: 1.25rem;
    font-size: 1rem;
  }

  .uui-button-secondary-gray:hover {
    color: #344054;
    background-color: #fff;
  }

  .uui-button-secondary-gray.is-button-large {
    grid-column-gap: .5rem;
    padding: .75rem 1.25rem;
    font-size: 1rem;
  }

  .uui-button-row {
    align-self: stretch;
  }

  .uui-button-row.button-row-center.is-reverse-mobile-landscape, .uui-button-row.is-reverse-mobile-landscape {
    flex-direction: column-reverse;
  }

  .uui-space-large {
    min-height: 2rem;
  }

  .uui-text-size-xlarge {
    font-size: 1.125rem;
  }

  .uui-space-small {
    min-height: 1.25rem;
  }

  .uui-heading-xlarge {
    font-size: 2.25rem;
  }

  .uui-space-xhuge {
    min-height: 4rem;
  }

  .uui-page-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .brix---square-icon {
    max-width: 56px;
    border-radius: 12px;
  }

  .brix---grid-2-columns {
    grid-template-columns: 1fr;
  }

  .brix---heading-h2-size {
    font-size: 28px;
    line-height: 40px;
  }

  .brix---mg-bottom-48px {
    margin-bottom: 32px;
  }

  .brix---section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .brix---link-icon-right {
    width: 20px;
    margin-left: 8px;
  }

  .brix---text-200-bold {
    font-size: 16px;
    line-height: 18px;
  }

  .brix---content-inside-card {
    padding: 32px 32px 40px;
  }

  .brix---grid-3-columns {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .mega-nav-container-1 {
    display: none;
  }

  .f-h3-heading-2 {
    font-size: 2.3em;
  }

  .f-button-wrapper {
    justify-content: center;
  }

  .f-section-regular {
    padding-left: 10%;
    padding-right: 10%;
  }

  .f-paragraph-regular {
    font-size: 1rem;
  }

  .f-sub-heading-small {
    font-size: 2em;
    line-height: 1.1;
  }

  .f-content-list-item-large {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .f-content-list-wrapper-small {
    flex-direction: column;
  }

  .f-content-text-wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }

  .container {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .uui-heroheader15_card-image-05, .uui-heroheader15_card-image-04, .uui-heroheader15_card-image-03, .uui-heroheader15_card-image-02, .uui-heroheader15_card-image-01 {
    width: 14rem;
    border-radius: .5rem;
  }

  .uui-heroheader15_image-wrapper {
    height: 12.75rem;
  }

  .uui-max-width-large {
    padding-left: 10%;
    padding-right: 10%;
  }

  .uui-max-width-large.align-center {
    flex-direction: column;
  }

  .uui-heading-xlarge.text-color-white.allcaps {
    font-size: 3rem;
  }

  .brix---paragraph-default {
    font-size: 17px;
    line-height: 28px;
  }

  .brix---heading-h3-size {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
  }

  .brix---mg-bottom-8px {
    margin-bottom: 6px;
  }

  .brix---square-icon {
    max-width: 56px;
    border-radius: 14px;
  }

  .brix---card---icon-left---content-right {
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .brix---heading-h2-size {
    font-size: 24px;
    line-height: 34px;
  }

  .brix---mg-bottom-48px {
    margin-bottom: 32px;
  }

  .brix---container-default {
    padding-left: 20px;
    padding-right: 20px;
  }

  .brix---link-icon-right {
    width: 18px;
  }

  .brix---text-200-bold {
    font-size: 15px;
    line-height: 16px;
  }

  .brix---mg-bottom-24px {
    margin-bottom: 16px;
  }

  .brix---content-inside-card {
    padding-top: 26px;
    padding-left: 22px;
    padding-right: 22px;
  }

  .brix---grid-3-columns {
    grid-template-columns: 1fr;
  }

  .icon-1 {
    max-height: none;
    max-width: 100%;
  }

  .certification-section {
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .button-1 {
    padding: 12px 24px;
    font-size: 12px;
  }

  .columns-3 {
    margin-bottom: 5%;
  }

  .mobile-only---learn-more-div {
    display: flex;
  }

  .image-4 {
    max-width: 80%;
  }

  .paragraph-2 {
    margin-bottom: 10%;
    font-size: 17px;
    line-height: 22px;
  }

  .learn-more-div-1 {
    display: none;
  }

  .column-4 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .image-5 {
    max-width: 90%;
  }

  .heading-3 {
    margin-top: 10px;
    font-size: 1.8em;
    line-height: 1.2em;
  }

  .heading-3.white {
    line-height: 1.2em;
  }

  .footer {
    padding-left: 5%;
    padding-right: 5%;
    display: block;
  }

  .column-19 {
    justify-content: center;
  }

  .columns-6 {
    justify-content: space-between;
  }

  .brand {
    width: 50%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 0;
  }

  .social-link-block {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .column-18.terms, .column-28 {
    display: none;
  }

  .button-2-on-light {
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
    flex: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px 25px;
  }

  .image-11 {
    max-width: 100%;
  }

  .image-12 {
    max-width: 80%;
  }

  .prefooter {
    display: none;
  }

  .mobile-only-nav {
    width: 100vw;
    height: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
  }

  .image-13 {
    max-width: 20%;
  }

  .div-block-4 {
    padding-left: 10%;
    padding-right: 10%;
  }
}

#w-node-_57d80a67-0204-3d3a-8ca1-34cc67267678-ba4f8677 {
  justify-self: end;
}

#w-node-_2c47088d-96ff-bbc0-71e1-67899bc67982-ba4f8677 {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_57d80a67-0204-3d3a-8ca1-34cc67267667-ba4f8677 {
    order: -9999;
  }
}


@font-face {
  font-family: '30948491178';
  src: url('../fonts/30948491178.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: '33107994939';
  src: url('../fonts/33107994939.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: '26023618743';
  src: url('../fonts/26023618743.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}